# Download link: https://github.com/JekiTheMonkey/JKPS/releases 
# Config explanation: https://gist.github.com/JekiTheMonkey/06c7b7dc0401729c2574a04442b19225
# My Discord: Jeki the Monkey from München#3932
# Discord server: https://discord.gg/qBcT7zGc46
# If any parameter has wrong value or if it is not found, then it will be set to default one

[Real keys]
Real keys: S $SEPARATION$ D $SEPARATION$ F $SEPARATION$ Space $SEPARATION$ J $SEPARATION$ K $SEPARATION$ L $SEPARATION$ Z $SEPARATION$ X $SEPARATION$ Period $SEPARATION$ Slash

[Visual keys]
Visual keys: S $SEPARATION$ D $SEPARATION$ F $SEPARATION$   $SEPARATION$ J $SEPARATION$ K $SEPARATION$ L $SEPARATION$ Z $SEPARATION$ X $SEPARATION$ . $SEPARATION$ /

[Statistics text]
Distance between: 5
Position offset: 10,0
Number position offset: 0,0
Font filepath: OpenSans-Regular.ttf
Text color: 255,255,255,255
Character size: 17
Outline thickness: 0
Outline color: 255,255,255,255
Bold: True
Italic: False
Enabled: True
Show KPS: True
Show total: True
Show BPM: False

[Statistics text advanced settings]
Enable advanced mode for text positions: True
KPS text position offset: 71,-140
Total text position offset: 328,-132
BPM text position offset: 206,-87
Enable advanced mode for number text positions: True
KPS number text position offset: 0,0
Total number text position offset: -3,-7
BPM number text position offset: -16,0
Enable advanced mode for text colors: False
KPS text color: 255,255,255,255
Total text color: 255,255,255,255
BPM text color: 255,255,255,255
Enable advanced mode for character sizes: False
KPS text character size: 14
Total text character size: 14
BPM text character size: 14
Enable advanced mode for stats text bold: False
KPS bold: False
Total bold: False
BPM bold: False
Enable advanced mode for stats text italic: False
KPS italic: False
Total italic: False
BPM italic: False
KPS text: KPS
KPS text when it is 0: Max
Total text: 
BPM text: BPM: 

[Buttons text]
Font filepath: OpenSans-Regular.ttf
Text color: 255,255,255,255
Character size: 20
Outline thickness: 0
Outline color: 255,255,255,255
Position offset: 0,0
Text bounds: 8,8
Ignore button movement: False
Bold: True
Italic: False
Show key labels: True
Show key counters: False
Show key KPS: False
Show key BPM: False

[Buttons text advanced settings]
Enable advanced mode for separate button text positions: False
Visual keys text position offset: 0,12
Key counters text position offset: 0,-13
KPS text position offset: 0,0
BPM text position offset: 0,0
Enable advanced mode for button text positions: False
Button 1 text position offset: 0,0
Button 2 text position offset: 0,0
Button 3 text position offset: 0,0
Button 4 text position offset: 0,0
Button 5 text position offset: 0,0
Button 6 text position offset: 0,0
Button 7 text position offset: 0,0
Button 8 text position offset: 0,0
Button 9 text position offset: 0,0
Button 10 text position offset: 0,0
Button 11 text position offset: 0,0
Button 12 text position offset: 0,0
Button 13 text position offset: 0,0
Button 14 text position offset: 0,0
Button 15 text position offset: 0,0

[Button graphics]
Distance: -1
Texture filepath: Button.png
Texture size: 60,60
Texture color: 30,30,30,255

[Button graphics advanced settings]
Enable advanced mode for button positions: True
Enable advanced mode for button sizes: True
Button 1 position offset: 0,0
Button 1 size: 50,50
Button 2 position offset: 0,0
Button 2 size: 50,50
Button 3 position offset: 0,0
Button 3 size: 50,50
Button 4 position offset: 0,-50
Button 4 size: 80,36
Button 5 position offset: 0,0
Button 5 size: 50,50
Button 6 position offset: 0,0
Button 6 size: 50,50
Button 7 position offset: 0,0
Button 7 size: 50,50
Button 8 position offset: -324,60
Button 8 size: 50,50
Button 9 position offset: -324,60
Button 9 size: 50,50
Button 10 position offset: -324,60
Button 10 size: 50,50
Button 11 position offset: -324,60
Button 11 size: 50,50
Button 12 position offset: 0,0
Button 12 size: 60,60
Button 13 position offset: 0,0
Button 13 size: 60,60
Button 14 position offset: 0,0
Button 14 size: 60,60
Button 15 position offset: 0,0
Button 15 size: 60,60

[Common parameters]
Animation duration (frames): 5

[Light animation]
Enabled: True
Texture filepath: Animation.png
Scale on click (%): 100,100
Color: 255,180,0,255

[Press animation]
Enabled: False
Offset: 3

[Main window]
Background texture filepath: Background.png
Background color: 140,140,140,255
Scale background texture if it does not fit: True
Title bar: False
Bonus size top: 60
Bonus size bottom: 44
Bonus size left: 0
Bonus size right: -236

[Extra KPS window]
Enable from start: False
Window size: 300,300
Text character size:: 130
Number character size: 100
Background color: 0,177,64,255
Text color: 255,255,255,255
Number color: 255,255,255,255
Text font filepath: Default
Number font filepaht: Default
Top padding: 20
Distance between text: 50

Hint: Increase window size in "Main window" to see effect of this feature!
[Key press visualization]
Enabled: False
Speed: 60
Movement rotation: 0
Fade out distance: 500
Spawn position offset: 0,-5
Color: 255,255,255,255

[Other]
Update statistics on quit: False
Value to multiply on click: 1

[Statistics save]
Saved max KPS: 0
Saved total: 0
Saved total 1: 0
Saved total 2: 0
Saved total 3: 0
Saved total 4: 0
Saved total 5: 0
Saved total 6: 0
Saved total 7: 0
Saved total 8: 0
Saved total 9: 0
Saved total 10: 0
Saved total 11: 0
Saved total 12: 0
Saved total 13: 0
Saved total 14: 0
Saved total 15: 0

                            Quick Guide
# Click with right mouse button on the key to edit it, then a menu
# will pop out. It has 2 fields. First one means the logical key,
# the second one is the visual one - how the key will be displayed.
# 
# [Hotkeys]
# Ctrl + "+/-" - Add/remove keyboard keys
# Ctrl + "</>" - Add/remove mouse buttons
# Ctrl + W - Close the program
# Ctrl + X - Reset all the statistics
# Ctrl + A - Open graphical menu
# Ctrl + K - Open KPS extra window
# Alt (hold) - Show opposite buttons values
# Program version: v0.1
# 
