# If any settings will not be found default parameter value will be used
#
# Single keys MUST be written in Caps
# Available keys to set you can get there
# https://www.sfml-dev.org/documentation/2.5.1/classsf_1_1Keyboard.php
# For mouse buttons look here
# https://www.sfml-dev.org/documentation/2.5.1/classsf_1_1Mouse.php
# UpArrow, DownArrow etc can be written like so

[Keys]
Keys: Z,X

[Mouse]
Buttons: No

[Statistics]
Statistics font: neuropol.ttf
Key counters font: neuropol.ttf
Statistics text color: 255,255,255
Key counters text color: 255,255,255
Statistics character size: 11
Key counters character size: 13
Show statistics: true
Show BPM: true
Only show set keys: false
Show key counters: true

[Spacing]
# Distance from the borders and between the keys
Button distance: 7
Space between buttons and statistics: 10
Space on the statistics right: 35

[Buttons Graphic]
Button texture: Button.png
Animation texture: Animation.png
Button texture size: 50,50
Button texture color: 255,255,255
Animation velocity: 20
Animation scale on click: 0.8
Animation color: 255,180,0

[Background]
Background texture: Default
Background color: 25,25,25

[Other]
Changeability alert color: 255,180,0
Highlighted text button color: 210,30,210