# Download link: https://github.com/JekiTheMonkey/JKPS/releases 
# Config explanation: https://gist.github.com/JekiTheMonkey/06c7b7dc0401729c2574a04442b19225
# My Discord: Jeki the Monkey from München#3932
# Discord server: https://discord.gg/qBcT7zGc46
# If any parameter has wrong value or if it is not found, then it will be set to default one

[Keyboard keys]
Keyboard keys: D,F,J,K

[Visual keys]
Visual keys: D,F,J,K

[Mouse buttons]
Mouse buttons: No

[Visual buttons]
Visual buttons: No

[Statistics text]
Statistics text distance: 6
Statistics text position: 7,0
Statistics value text position: 0,0
Statistics text font: Exo-VariableFont_wght.ttf
Statistics text color: 255,255,255,255
Statistics text character size: 17
Statistics text bold: True
Statistics text italic: False
Show statistics text: True
Show KPS: True
Show total: True
Show BPM: False

[Statistics text advanced settings]
Enable advanced mode for stats text positions: False
Statistics KPS text position: 0,0
Statistics total text position: 0,0
Statistics BPM text position: 0,0
Enable advanced mode for stats value text positions: False
Statistics KPS value text position: 0,0
Statistics total value text position: 0,0
Statistics BPM value text position: 0,0
Enable advanced mode for stats text colors: False
Statistics KPS text color: 255,255,255,255
Statistics total text color: 255,255,255,255
Statistics BPM text color: 255,255,255,255
Enable advanced mode for character sizes: False
Statistics KPS text character size: 14
Statistics total text character size: 14
Statistics BPM text character size: 14
Enable advanced mode for stats text bold: False
Statistics KPS bold: False
Statistics total bold: False
Statistics BPM bold: False
Enable advanced mode for stats text italic: False
Statistics KPS italic: False
Statistics total italic: False
Statistics BPM italic: False
KPS text: KPS: 
KPS text when it is 0: Max: 
Total text: 
BPM text: BPM: 

[Buttons text]
Buttons text font: Exo-VariableFont_wght.ttf
Buttons text color: 255,255,255,255
Buttons text character size: 16
Buttons text position: 0,0
Buttons text bounds: 4,4
Buttons text bold: True
Buttons text italic: False
Show visual keys: True
Show key counters: True
Show key KPS: False
Show key BPM: False

[Buttons text advanced settings]
Enable advanced mode for separate button text positions: False
Buttons visual keys text position: 0,0
Buttons key counters text position: 0,0
Buttons KPS text position: 0,0
Buttons BPM text position: 0,0
Enable advanced mode for button text positions: False
Button text 1 position: 0,0
Button text 2 position: 0,0
Button text 3 position: 0,0
Button text 4 position: 0,0
Button text 5 position: 0,0
Button text 6 position: 0,0
Button text 7 position: 0,0
Button text 8 position: 0,0
Button text 9 position: 0,0
Button text 10 position: 0,0
Button text 11 position: 0,0
Button text 12 position: 0,0
Button text 13 position: 0,0
Button text 14 position: 0,0
Button text 15 position: 0,0

[Button graphics]
Button distance: 4
Button texture: Button.png
Button texture size: 60,60
Button texture color: 27,27,27,255

[Button graphics advanced settings]
Enable advanced mode for button positions: False
Enable advanced mode for button sizes: False
Button 1 position: 0,0
Button 1 size: 60,60
Button 2 position: 0,0
Button 2 size: 60,60
Button 3 position: 0,0
Button 3 size: 60,60
Button 4 position: 0,0
Button 4 size: 60,60
Button 5 position: 0,0
Button 5 size: 60,60
Button 6 position: 0,0
Button 6 size: 60,60
Button 7 position: 0,0
Button 7 size: 60,60
Button 8 position: 0,0
Button 8 size: 60,60
Button 9 position: 0,0
Button 9 size: 60,60
Button 10 position: 0,0
Button 10 size: 60,60
Button 11 position: 0,0
Button 11 size: 60,60
Button 12 position: 0,0
Button 12 size: 60,60
Button 13 position: 0,0
Button 13 size: 60,60
Button 14 position: 0,0
Button 14 size: 60,60
Button 15 position: 0,0
Button 15 size: 60,60

[Animation graphics]
Light animation: True
Press animation: False
Animation texture: Animation.png
Animation frames: 5
Animation scale on click (%): 100,100
Animation color: 73,71,99,255
Animation offset: 3

[Main window]
Background texture: Background.png
Background color: 27,27,27,255
Scale background texture if it does not fit: True
Window title bar: False
Window bonus size top: 0
Window bonus size bottom: 0
Window bonus size left: 0
Window bonus size right: 82

[Extra KPS window]
Enable from start: False
Window size: 300,300
Text character size:: 130
Number character size: 100
KPS Background color: 0,177,64,255
KPS text color: 255,255,255,255
KPS number color: 255,255,255,255
KPS window text font: Default
KPS window number font: Default
KPS top padding: 20
KPS extra window distance between text: 50

[Theme developer]
Value to multiply on click: 1

[Statistics save]
Saved max KPS: 12
Saved total: 23
Saved total 1: 5
Saved total 2: 6
Saved total 3: 7
Saved total 4: 5
Saved total 5: 0
Saved total 6: 0
Saved total 7: 0
Saved total 8: 0
Saved total 9: 0
Saved total 10: 0
Saved total 11: 0
Saved total 12: 0
Saved total 13: 0
Saved total 14: 0
Saved total 15: 0

                            Quick Guide
# Click with right mouse button on the key to edit it, then a menu
# will pop out. It has 2 fields. First one means the logical key,
# the second one is the visual one - how the key will be displayed.
# 
# [Hotkeys]
# Ctrl + "+/-" - Add/remove keyboard keys
# Ctrl + "</>" - Add/remove mouse buttons
# Ctrl + W - Close the program
# Ctrl + X - Reset all the statistics
# Ctrl + A - Open graphical menu
# Ctrl + K - Open KPS extra window
# Alt (hold) - Show opposite buttons values
# 
# Program version v0.9-alpha
